html {
    height: 100%;
}
body {
    min-height: 100%;
}
nav img{
    height: 60px;
    width: 60px;
}
section img{
    height: 500px;
    width: 500px;
}

footer img{
    height: 20px;
    width: 22px;
}