html {
    height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
nav,footer{
    background-color: rosybrown;
}

nav img{
    height: 60px;
    width: 60px;
}
article{
    
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    width: auto;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

 #delhi, #kolkata, #goa, #hyderabad{
    
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
   
}
#city_cards{
    position: relative;
     margin: 0 15%;

}



footer img{
    height: 20px;
    width: 22px;
}